$themes: (
  light: (
    primary: #FFC300,
    secondary: #001D3D,
    background: #939393,
    text: #000814,
    lighterBlue: #003962
  ),
  dark: (
    primary: #FFD60A,
    secondary: #FFC300,
    background: #000814,
    text: #fff
  )
);

$theme: map-get($themes, light);

@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

body {
    font-family: "Jersey 15", sans-serif;
}

#logo {
    width: 40px;
    display: block;
    margin: 5px;
    margin-right: 20px;
    margin-top: 0px;
}

nav {
    background-color: map-get($theme, secondary);
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: flex-start; 
    padding: 0 20px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    
}

#loginButton, #signupButton, #logoutButton, #changePassword {
    padding: 10px;
    background-color: map-get($theme, primary);
    color: text;
    border-radius: 5px;
    margin: 5px;
}

#loginForm, #signupForm {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;


    * {
        margin-top:10px;
    }

    input {
        margin-bottom: 15px;
    }
}

#loginForm label, #signupForm label {
    display: flex;
    align-self: center;
}

footer {
    height: 10%;
    background-color: map-get($theme, primary);
}

body {
    margin: 0;
    padding: 0;
}

#signupSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animated-image {
    position: fixed;
    opacity: 0.3;
    animation: slide 15s linear infinite;
    z-index: -1; // make images the back-most element
    top: 0; // initial top position
    left: 0; // initial left position
    right: 0; // stretch the image to the right edge of the screen
    bottom: 0; // stretch th
}

@keyframes slide {
    0% {
        transform: translateX(-400%) rotate(0deg);
    }
    100% {
        transform: translateX(1000%) rotate(420deg);
    }
}

#content {
    margin-top: 7vh;
    margin-left: 8vh;
    margin-right: 5vh;
    height: 60%;

    #HomePage {
        display: flex;
        justify-content: space-between;
    }

    #PostFeed {
        overflow-y: scroll;
        height: 70vh;
        width: 100vh;
    }

    #PostForm {
        margin-right: 10vh;
        margin-left: 10vh;
        height: 50vh;
        width: 30vh;

        > * {
            margin: 10px; 
        }

    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#PostForm, #PostFeed {

    label {
        display: block;
    }

    background-color: map-get($theme, secondary); 
    border-radius: 10px; 
    padding: 20px;
    color: #fff;

    #individualPost {
        margin: 1vh;
        padding: 10px;
        background-color: map-get($theme, lighterBlue);
        border-radius: 10px;
    }
}

#adSpace {
    position: absolute;
    right: 0;
    margin: 1vh;
    padding: 2px;
    background-color: white;
    border-radius: 10px;
}