<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversation Strike 2</title>
    <link rel="stylesheet" type="text/css" href="/assets/main.css">

</head>

<body>
    <nav></a>
        <a href="/home"><img id="logo" src="assets/img/favicon.png" alt="face logo" /></a>
        <div id="logoutButton" class="navlink"><a href="/logout">Log out</a></div>
        <div id="changePassword" class="navlink"><a href="/changePassword">Change Password</a></div>
    </nav>
    <div id="content"></div>

    <script src="/assets/appBundle.js"></script>
    <footer>
        <div id="errorMessage"></div>
    </footer>
</body>

</html>