<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/loginBundle.js"></script>
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="/login"><img id="logo" src="assets/img/favicon.png" alt="face logo" /></a>
        <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
        <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
    </nav>
    
    <body>
    <!-- ... -->
    <div id="content">
        <h1>Hello Application</h1>
    </div>
</body>
</body>

</html>