@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");
body {
  font-family: "Jersey 15", sans-serif;
  /* other styles */
}

#logo {
  width: 40px;
  display: block;
  margin: 5px;
  margin-right: 20px;
  margin-top: 0px;
}

nav {
  background-color: #001D3D;
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;
}

#loginButton, #signupButton, #logoutButton {
  padding: 10px;
  background-color: #FFC300;
  color: text;
  border-radius: 5px;
  margin: 5px;
}

#loginForm, #signupForm {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loginForm *, #signupForm * {
  margin-top: 10px;
}
#loginForm input, #signupForm input {
  margin-bottom: 15px;
}

#loginForm label, #signupForm label {
  display: flex;
  align-self: center;
}

footer {
  height: 10%;
  background-color: #FFC300;
}

body {
  margin: 0;
  padding: 0;
}

#signupSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animated-image {
  position: fixed;
  opacity: 0.3;
  animation: slide 6s linear infinite;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes slide {
  0% {
    transform: translateX(-400%) rotate(0deg);
  }
  100% {
    transform: translateX(1000%) rotate(360deg);
  }
}